<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :blog_content %>
  </div>

  <div class="field">
    <%= form.label :starting_time %>
    <%= form.datetime_select :starting_time, id: :blog_starting_time %>
  </div>

  <div class="field">
    <%= form.label :finishing_time %>
    <%= form.datetime_select :finishing_time, id: :blog_finishing_time %>
  </div>

  <div class="field">
    <%= form.label :recruitment_number %>
    <%= form.number_field :recruitment_number, id: :blog_recruitment_number %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :blog_user_id %>
  </div>

  <div class="field">
    <%= form.label :applicant_id %>
    <%= form.number_field :applicant_id, id: :blog_applicant_id %>
  </div>

  <div class="field">
    <%= form.label :applicant_number %>
    <%= form.number_field :applicant_number, id: :blog_applicant_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
