<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Starting time:</strong>
  <%= @blog.starting_time %>
</p>

<p>
  <strong>Finishing time:</strong>
  <%= @blog.finishing_time %>
</p>

<p>
  <strong>Recruitment number:</strong>
  <%= @blog.recruitment_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<p>
  <strong>Applicant:</strong>
  <%= @blog.applicant_id %>
</p>

<p>
  <strong>Applicant number:</strong>
  <%= @blog.applicant_number %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
